.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1f2535;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav{
  display: flex;
  justify-content: space-between;
  
  align-self: flex-start;
  
}

.Second-half{
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: space-evenly;
}
.Second-half-divs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  text-align: start;
  
  
}
.Second-half-divs h3, p{
  margin-left: 20px;
}

.Menu{
position: absolute;
bottom : 580px;
left: 1320px;
}
.Ironhack{
position: absolute;
bottom: 550px;
}
.Text{
  display: flex;
  flex-direction: column;
  width: 500px;
  position:absolute;
  text-align: left;
  right: 700px;
}
.Text h1{
  font-size: 80px;
}
.Text span{
  background-color: antiquewhite;
  color: #1f2535;
  text-align: center;
  width: 150px;
}